/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TYPOGRAFIA */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* HERO TEXT MAX-WIDTH */
.hero .container{
	max-width:900px;
}

/* CONTAINER */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

/* SEKCJE */
.section {
  padding: 60px 0;
}

/* GRID */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  background: white;
  border-bottom: 1px solid #ddd;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* BUTTON */
.btn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* CARD */
.card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input,
.form textarea {
  padding: 10px;
  border: 1px solid #ccc;
}

/* MOBILE MENU */
.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
}

/* ukrycie menu na mobile */
@media (max-width: 768px) {
 .menu-toggle {
    display: block;
  }

 .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
	transition: all 0.3s ease;
  }

 .nav-links.active {
    display: flex;
  }
}